* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

.boton {
  background-color: #095959;
  color: #1dadbf;
  padding: 10px 20px;
  border-radius: 5px;
  width: 23%;
  text-align: center; }

.navbar-nav li a {
  font-size: 1.5em; }

.logo-glaciar img {
  width: 100px;
  height: auto; }

.copete {
  text-align: center; }

.tarj-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  background-color: #095959;
  padding: 1.5em; }

.tarjetas {
  background-color: #095959;
  border-radius: 5px; }
  .tarjetas img {
    max-width: 100%;
    height: 320px; }
  .tarjetas h3 {
    font-size: 1.5rem;
    margin-top: 1rem; }
  .tarjetas p {
    font-size: 1.2rem;
    margin-top: 1rem; }

.t-imagen {
  position: relative;
  display: inline-block; }

.texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20bfbe; }
  .texto-encima h2 {
    display: block;
    color: #095959;
    font-size: 1.5em; }
  .texto-encima p {
    display: block;
    color: white;
    background-color: #095959;
    font-size: 2em; }

.t-imagen:hover .texto-encima {
  opacity: 1; }

@media only screen and (max-width: 767px) {
  .tarjetas img {
    max-width: 100%;
    height: 100px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tarjetas img {
    max-width: 100%;
    height: 200px; } }

.contacto {
  display: flex;
  flex-wrap: wrap; }

form {
  max-width: 70%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px; }

button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #095959;
  color: #1dadbf;
  cursor: pointer; }

input[type="text"],
input[type="email"],
textarea,
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; }

.footer-container {
  background-color: #1dadbf;
  font-size: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center; }

.micarru {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  border: 1px black; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .container .columna1 {
    width: 100%;
    margin: 10px; }
  .container .columnas {
    width: 40%;
    margin: 10px; }
  .container img {
    width: 100%;
    height: auto; }

.tarj-guias {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px; }
