.Contacto {
    display: flex;
    flex-wrap: wrap;

}

form {
    max-width: 70%;
    // margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: $color-botones;
    color: $color-principal;
    cursor: pointer;
}


input[type="text"],
input[type="email"],
textarea,
select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
