@import "scss/_utilidades/variables";

  h1 {
    text-align: center;
  }
  
  .opiniones {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    color:  $color-principal;
  }
  
  .calificacion {
    color:  $color-principal;
    font-weight: bold;
  }
  
  .estrella {
    font-size: 24px;
  }
  
  .autor {
    font-style: italic;
    color: #666666;
  }
  