h1{
    color: #ff0000;
}
.Copete {
    text-align: center;
}
.MiCarru {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    border: 1px black;
    }
    .navbar-nav li a {
        font-size: 1.5em;
}
