@import "scss/_utilidades/variables";
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.main {
    margin-bottom: 1em;
}
.LogoGlaciar img {
    width: 100px;
    height: auto;
}

h1,h2,h3 {
    color: $color-principal;
}
@mixin footer-estilo {
    background-color: $color-principal;
    bottom: 0;
    position: sticky;
    padding:10px;
    width: 100%;
    text-align: center;
  h4{
    font-size: 1em;
  }
  p {
    margin: 0;
  }
  a{
    color: #FFFFFF;
  }
}

.FooterContainer {
    background-color: #ccc;
    @include footer-estilo;
}
