@mixin boton-redondeado($radius) {
    border-radius: $radius;
  }
  
  .Boton {
    background-color: $color-botones;
    color: $color-principal;
    padding: 10px 20px;
    @include boton-redondeado(5px);
    width: 23%;
    text-align: center;
}

